/* ------ SignIn-Flow Start ------ */

.authentication {
    height: 100%;
    overflow: hidden;

    .left,
    // .right,
    .col-lg-6:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .col-lg-6 {
        height: 100%;
    }

    .left {
        background: linear-gradient(180deg, #4442A7 0%, #020140 100%);
        height: 100%;

        .introducation {
            .main_logo {
                margin-bottom: 100px;
            }

            .info {
                h1 {
                    font-family: var(--dm-sans);
                    font-weight: 700;
                    font-size: 50px;
                    color: var(--white);
                    margin-bottom: 10px;
                }

                p {
                    font-family: var(--dm-sans);
                    font-weight: 500;
                    font-size: 22px;
                    color: var(--white);

                }
            }
        }
    }

    .right {
        overflow-y: scroll;
        height: 100%;
        width: 100%;
        padding: 100px 170px;

        .introducation {
            margin-bottom: 40px;

            .logo_img {
                margin-bottom: 40px;
            }

            .info {
                h1 {
                    font-family: var(--dm-sans);
                    font-weight: 700;
                    font-size: 50px;
                    color: var(--blue);
                    margin-bottom: 10px;
                }

                p {
                    font-family: var(--dm-sans);
                    font-weight: 500;
                    font-size: 22px;
                    color: #696969;
                }
            }
        }

        form {
            .input-group {
                .form-control {
                    border-top-left-radius: 16px !important;
                    border-bottom-left-radius: 16px !important;
                    border-top-right-radius: 16px !important;
                    border-bottom-right-radius: 16px !important;
                    padding-left: 70px;
                }

                .icon {
                    position: absolute;
                    top: 50%;
                    left: 25px;
                    transform: translateY(-50%);
                    z-index: 10;
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    img {
                        transition: filter 0.2s;
                    }

                    &.password {
                        left: initial;
                        right: 25px;
                    }
                }

                &.active,
                &:focus-within {
                    .icon img {
                        filter: brightness(0) saturate(100%) invert(36%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(91%) contrast(85%);
                    }
                }
            }

            .form-control {
                background: var(--fc-bg);
                padding: 20px 25px;
                border: 0;
                border-radius: 16px;

                font-family: var(--dm-sans);
                font-weight: 500;
                font-size: 18px;
                color: var(--fc-color);

                &::placeholder {
                    color: var(--placeholder);
                }
            }

            .forgot-password {
                a {
                    font-family: var(--dm-sans);
                    font-weight: 500;
                    font-size: 20px;
                    color: #696969;
                }
            }

            .auth_btn {
                background-color: var(--blue);
                border-radius: 16px;
                border: 1px solid var(--blue);
                width: 100%;

                font-family: var(--dm-sans);
                font-weight: 700;
                font-size: 22px;
                color: var(--white);
                padding-block: 20px;
                transition: opacity 0.3s ease;

                &:disabled {
                    opacity: 0.6;
                    cursor: not-allowed;
                }
            }


            /* --- OTP-Verification Start --- */
            .otp-container {
                display: flex;
                justify-content: center;
                gap: 25px;

                .form-control {
                    width: 80px;
                    text-align: center;
                    border: 2px solid #F2F2F2;
                    font-size: 26px;
                    font-weight: 600;
                    color: var(--blue);

                    &:focus {
                        border: 2px solid var(--blue);
                    }
                }
            }

            .resend {
                font-family: var(--dm-sans);
                font-weight: 500;
                font-size: 20px;
                color: #696969;

                .resend_btn {
                    background: transparent;
                    border: 0;

                    font-weight: 700;
                    color: var(--blue);
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }

                    &:disabled {
                        opacity: 0.6;
                        cursor: not-allowed;
                        text-decoration: underline;
                    }
                }
            }

            /* --- OTP-Verification End --- */

        }


        .or {
            margin-block: 60px;

            span {
                background-color: #9E9E9E;
                height: 1px;
                width: 100%;
            }

            p {
                font-family: var(--dm-sans);
                font-weight: 500;
                font-size: 20px;
                color: #696969;
                width: 100%;
                margin-inline: 22px;
            }
        }

        .google_btn {
            background-color: var(--white);
            border-radius: 16px;
            border: 1px solid #696969;
            width: 100%;

            font-family: var(--dm-sans);
            font-weight: 600;
            font-size: 22px;
            color: #313131;
            padding-block: 20px;
            margin-bottom: 60px;
        }

        .account {
            font-family: var(--dm-sans);
            font-weight: 500;
            font-size: 20px;
            color: #696969;

            a {
                font-weight: 700;
                color: var(--blue);
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }



    @media (min-width: 2000px) {
        .right {
            max-width: 75%;
            margin: auto;
        }
    }


    @media (max-width: 1699px) {
        .right {
            padding: 90px 140px;
        }
    }

    @media (max-width: 1399px) {
        .right {
            padding: 98px 110px;

            .introducation {
                margin-bottom: 40px;

                .logo_img {
                    margin-bottom: 40px;
                }

                .info {
                    h1 {
                        font-size: 45px;
                    }

                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    @media (max-width: 1199px) {
        .right {
            padding: 70px 70px;
        }
    }
}

/* ------ SignIn-Flow End ------ */