/* ------ SignUp-Flow Start ------ */

.authentication {
    .left {
        flex-direction: column;

        .progress {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: fit-content;
            background-color: transparent;

            .data {
                font-family: var(--dm-sans);
                background-color: #FFFFFF33;
                color: var(--white);
                padding: 18px 26px;
                border-radius: 16px;
                width: 100%;

                .number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 38px;
                    height: 38px;
                    font-size: 22px;
                    font-weight: 700;
                    border-radius: 50%;
                    // color: var(--blue);
                    background-color: var(--white);
                    margin-right: 20px;

                    p {
                        margin-bottom: 0;
                        background: linear-gradient(180deg, #4442A7 0%, #020140 100%);
                        -webkit-background-clip: text;
                        color: transparent;
                    }

                    &.active {
                        // background-color: var(--blue);
                        background: linear-gradient(180deg, #4442A7 0%, #020140 100%);

                        color: var(--white);

                        p {
                            color: var(--white);
                        }
                    }
                }

                span {
                    font-size: 22px;
                    font-weight: 700;
                }

                &.active {
                    background-color: var(--white);

                    // color: var(--blue);
                    span {
                        background: linear-gradient(180deg, #4442A7 0%, #020140 100%);
                        -webkit-background-clip: text;
                        color: transparent;
                    }
                }
            }


            .line {
                background: var(--white);
                width: 2px;
                height: 35px;
                margin-block: 12px;
                // animation: lineFade 0.1s ease-in-out;
            }

            // @keyframes lineFade {
            //     0% {
            //         height: 0;
            //         opacity: 0;
            //     }

            //     100% {
            //         height: 40px;
            //         opacity: 1;
            //     }
            // }
        }
    }

    .right {
        .introducation {
            .intro-cong {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
            }

            /* --- Congratulations Start --- */
            .congratulation_loader {
                margin-top: 10px;

                .lottie_loader {
                    width: 35% !important;
                }
            }

            /* --- Congratulations End --- */

        }

        form {


            /* --- Create-Profile Start --- */
            .form-select {
                background-image: url("../../../assets/images/select-dropdown.svg");
                background-position: right 25px center;
                background-size: 16px;
                background-color: var(--fc-bg);
                padding: 20px 25px;
                border: 0;
                border-radius: 16px;

                font-family: var(--dm-sans);
                font-weight: 500;
                font-size: 18px;
                color: var(--fc-color);

                &::placeholder {
                    color: var(--placeholder);
                }

                option {
                    &:first-of-type {
                        color: var(--placeholder);
                    }
                }
            }

            .react-tel-input .selected-flag:focus:before,
            .react-tel-input .selected-flag.open:before {
                border: none !important;
                box-shadow: none !important;
            }

            .country-list {
                background-color: white !important;
            }

            .react-tel-input .country-list .country {
                background-color: transparent;
            }

            .react-tel-input .country-list .country:hover {
                background-color: #f1f1f1;
            }

            .error {
                border: 1px solid red !important;
            }

            /* --- Create-Profile End --- */


            /* --- Service-Detail Start --- */
            .form-check {
                .form-check-input {
                    border: 2px solid var(--blue);
                    width: 20px;
                    height: 20px;
                    margin-top: 2px;

                    position: relative;

                    &:checked {
                        background-color: var(--white);
                        --bs-form-check-bg-image: none;

                        &::before {
                            display: block;
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        width: 10px;
                        height: 10px;
                        background-color: var(--blue);
                        border-radius: 50%;
                        display: none;
                    }
                }

                .form-check-label {
                    font-family: var(--dm-sans);
                    font-weight: 600;
                    font-size: 18px;
                    color: #696969;
                    margin-left: 5px;
                }

                .form-check-input:checked+.form-check-label {
                    color: var(--blue);
                }
            }

            .upload {
                label {
                    color: var(--blue);
                    cursor: pointer;
                    width: 100%;
                    border: 3px dashed #F1F1F1;
                    padding-block: 10px;
                    border-radius: 16px;

                    span {
                        color: #475467;
                    }
                }
            }

            .document_view {
                position: relative;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 16px;

                .document {
                    position: relative;
                    
                    .image{
                        border-radius: 16px;
                        width: 140px;
                        height: 140px;
                        object-fit: cover;
                    }

                    .close_btn {
                        background-color: transparent;
                        border: 0;
                        position: absolute;
                        right: 10px;
                        top: 7px;
                    }
                }
            }

            /* --- Service-Detail End --- */
        }
    }
}

/* ------ SignUp-Flow End ------ */