/* ------ News-Detail Start ------ */
.news_detail {
    padding-block: 60px;

    .top {
        margin-bottom: 40px;

        .right {
            .date {
                display: flex;
                align-items: center;
                font-family: var(--dm-sans);
                font-weight: 500;
                font-size: 18px;
                color: #696969;
            }

            h1 {
                font-family: var(--dm-sans);
                font-weight: 600;
                font-size: 44px;
                color: var(--blue);
                margin-block: 20px;
            }

            .sent {
                display: flex;
                gap: 20px;
            }
        }
    }

    .second {
        p {
            font-family: var(--dm-sans);
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: #696969;
        }
    }

    @media (max-width: 1399px) {
        padding-block: 55px;

        .top {
            .right {
                .date {
                    font-size: 17px;
                }

                h1 {
                    font-size: 40px;
                }
            }
        }

        .second {
            p {
                font-size: 18px;
                line-height: 26px;
            }
        }
    }

    @media (max-width: 1199px) {
        padding-block: 50px;

        .top {
            margin-bottom: 38px;

            .right {
                .date {
                    font-size: 16px;
                }

                h1 {
                    font-size: 36px;
                    margin-block: 18px;
                }
            }
        }

        .second {
            p {
                font-size: 17px;
                line-height: 26px;
            }
        }
    }
}

/* ------ News-Detail End ------ */