/* ------ Agents Start ------ */
.agent.top_agent {
    .top {
        .filter_btn {
            display: flex;
            align-items: center;

            background-color: #0402731A;
            border: 0;
            border-radius: 16px;
            padding: 18px 22px;


            font-family: var(--dm-sans);
            font-weight: 500;
            font-size: 18px;
            color: var(--blue);
        }

        .dropdown-menu {
            border-radius: 12px;
            border: 2px solid #0402731A;

            li {
                .dropdown-item {
                    font-family: var(--dm-sans);
                    font-weight: 600;
                    font-size: 16px;
                    color: var(--blue);
                    cursor: pointer;
                    padding: 6px 18px;

                    &:hover,
                    &:focus {
                        background-color: var(--blue);
                        color: var(--white);
                    }
                }
            }
        }

        .input-group {
            max-width: 75%;

            .form-control {
                background-color: var(--white);
                border: 2px solid #0402731A;
                padding: 18px 20px 18px 55px;
                border-radius: 18px;

                font-family: var(--dm-sans);
                font-weight: 500;
                font-size: 18px;
                color: #696969;

                &::placeholder {
                    color: var(--placeholder);
                }

                border-top-left-radius: 16px !important;
                border-bottom-left-radius: 16px !important;
            }

            .icon {
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
                z-index: 10;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .second {
        .no_data {
            font-family: var(--dm-sans);
            font-weight: 700;
            font-size: 30px;
            color: var(--blue);
            text-align: center;
            // padding-top: 40px;
            padding-block: 50px;
        }
    }
}

/* ------ Agents End ------ */