/* ------ Privacy-Policy Start ------ */
.privacy_policy {
    padding-block: 60px;

    .top {
        margin-bottom: 40px;

        h1 {
            font-family: var(--dm-sans);
            font-weight: 700;
            font-size: 50px;
            // line-height: 60px;
            color: var(--blue);
        }
    }

    .second {
        .content {
            margin-bottom: 40px;

            &:last-of-type {
                margin-bottom: 0;
            }

            h5 {
                font-family: var(--dm-sans);
                font-weight: 600;
                font-size: 30px;
                color: var(--blue);
            }

            p {
                font-family: var(--dm-sans);
                font-weight: 500;
                font-size: 20px;
                // line-height: 30px;
                color: #696969;
            }

            .sub {
                margin-bottom: 20px;

                & {
                    :last-of-type {
                        margin-bottom: 0;
                    }
                }

                h6 {
                    font-family: var(--dm-sans);
                    font-weight: 700;
                    font-size: 24px;
                    // line-height: 30px;
                    color: #696969;
                }

                p {
                    margin-bottom: 0;
                }

                ul {
                    padding-left: 20px;

                    li {
                        list-style: disc;

                        &::marker {
                            color: #696969;
                        }
                    }
                }
            }
        }
    }


    @media (max-width: 1399px) {
        padding-block: 55px;

        .top {
            margin-bottom: 35px;

            h1 {
                font-size: 45px;
            }
        }

        .second {
            .content {
                margin-bottom: 35px;

                h5 {
                    font-size: 28px;
                }

                p {
                    font-size: 18px;
                }

                .sub {
                    margin-bottom: 20px;

                    h6 {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    @media (max-width: 1199px) {
        padding-block: 50px;

        .top {
            margin-bottom: 35px;

            h1 {
                font-size: 40px;
            }
        }

        .second {
            .content {
                margin-bottom: 30px;

                h5 {
                    font-size: 26px;
                }

                p {
                    font-size: 17px;
                }

                .sub {
                    margin-bottom: 18px;

                    h6 {
                        font-size: 21px;
                    }
                }
            }
        }
    }
}

/* ------ Privacy-Policy End ------ */