/* ------ Home-Banner Start ------ */
.user_home_banner {
    padding-block: 75px;

    .left {
        .title {
            font-family: var(--dm-sans);
            font-weight: 700;
            font-size: 18px;
            color: var(--blue);
        }

        h1 {
            font-family: var(--dm-sans);
            font-weight: 700;
            font-size: 50px;
            // line-height: 80px;
            text-transform: capitalize;
            color: var(--blue);
            margin-block: 22px 30px;
        }


        form {
            position: relative;

            .input-group {
                margin-bottom: 30px;
                max-width: 85%;
                z-index: 1;

                &:last-of-type {
                    margin-bottom: 0;
                }

                .form-control {
                    background-color: var(--white);
                    border: 2px solid var(--blue);
                    padding: 20px 50px 20px 60px;
                    border-radius: 16px;

                    font-family: var(--dm-sans);
                    font-weight: 500;
                    font-size: 20px;
                    color: var(--blue);

                    &::placeholder {
                        font-weight: 400;
                        color: #04027381;
                    }

                    border-top-left-radius: 16px !important;
                    border-bottom-left-radius: 16px !important;
                }

                .icon {
                    position: absolute;
                    top: 50%;
                    left: 25px;
                    transform: translateY(-50%);
                    z-index: 10;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .timeline {
                position: absolute;
                right: 125px;
                top: 30px;
                bottom: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 5;

                .dot {
                    width: 16px;
                    height: 16px;
                    background: linear-gradient(180deg, #4442A7 0%, #020140 100%);
                    border: 2px solid #04027333;
                    border-radius: 50%;
                    border: 2px solid #d6d6f7;

                    &:first-of-type {
                        margin-bottom: 2px;
                    }

                    &:last-of-type {
                        margin-top: 2px;
                    }
                }

                .line {
                    flex: 1;
                    border-left: 2px dashed #04027380;
                }
            }
        }
    }

    @media (max-width: 1399px) {
        padding-top: 80px;

        .left {
            .title {}

            h1 {
                font-size: 45px;
                margin-block: 22px 25px;
            }

            form {

                .input-group {
                    margin-bottom: 26px;

                    .form-control {
                        padding: 20px 50px 20px 60px;
                        font-size: 18px;
                    }
                }

                .timeline {
                    right: 115px;
                }
            }

        }
    }

    @media (max-width: 1199px) {
        padding-top: 75px;

        .left {
            .title {}

            h1 {
                font-size: 40px;
                margin-block: 22px 22px;
            }

            form {

                .input-group {
                    margin-bottom: 24px;

                    .form-control {
                        padding: 20px 50px 20px 60px;
                        font-size: 17px;
                    }
                }

                .timeline {
                    right: 100px;
                }
            }

        }
    }
}

/* ------ Home-Banner End ------ */



/* ------ Country Start ------ */
/* ------ Country End ------ */



/* ------ Top-Agents Start ------ */
.agent.top_agent {
    background-color: var(--white);

    .top {
        h1 {
            margin-bottom: 0;
        }

        .see_all {
            font-family: var(--dm-sans);
            font-weight: 600;
            font-size: 20px;
            color: var(--blue);
        }
    }

    @media (max-width: 1399px) {
        .top {
            .see_all {
                font-size: 18px;
            }
        }
    }

    @media (max-width: 1199px) {
        .top {
            .see_all {
                // font-size: 17px;
            }
        }
    }
}

/* ------ Top-Agents End ------ */



/* ------ Latest-News Start ------ */
.latest_news {
    background-color: #0402730D;
    padding-block: 60px;

    .top {
        margin-bottom: 40px;

        h1 {
            font-family: var(--dm-sans);
            font-weight: 700;
            font-size: 50px;
            color: var(--blue);
            margin-bottom: 0;
        }

        .see_all {
            font-family: var(--dm-sans);
            font-weight: 600;
            font-size: 20px;
            color: var(--blue);
        }
    }

    .second {
        .box {
            background-color: var(--white);
            border: 2px solid #0402731A;
            border-radius: 20px;
            box-shadow: 0px 4px 4px 0px #6969690D;

            position: relative;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                top: 15px;
                right: 15px;
                width: 40px;
                height: 40px;
                background-image: url('../../../assets/images/home/user/news_save.svg');
                background-size: cover;
                background-repeat: no-repeat;
                z-index: 1;
            }

            .news_image {
                height: 250px;
                overflow: hidden;

                img {
                    height: 100%;
                }
            }

            .info {
                padding: 22px;

                .date {
                    font-family: var(--dm-sans);
                    font-weight: 500;
                    font-size: 16px;
                    color: #696969;
                }

                .name {
                    font-family: var(--dm-sans);
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 30px;
                    color: var(--blue);
                    margin-block: 10px;
                }

                p {
                    font-family: var(--dm-sans);
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    color: #696969;
                }

                .news_btn {
                    background-color: transparent;
                    border: 0;
                    width: -webkit-fill-available;
                    text-align: end;
                    font-family: var(--dm-sans);
                    font-weight: 600;
                    font-size: 16px;
                    color: var(--blue);
                }
            }
        }
    }

    @media (max-width: 1399px) {
        padding: 55px;

        .top {
            margin-bottom: 35px;

            h1 {
                font-size: 45px;
            }

            p {
                font-size: 20px;
            }
        }

        .second {
            .box {
                .news_image {
                    height: 245px;
                }

                .info {
                    padding: 22px;


                    .name {
                        font-size: 19px;
                        line-height: 28px;
                        margin-block: 8px;
                    }

                    p {
                        font-size: 16px;
                        line-height: 22px;
                    }

                }
            }
        }
    }

    @media (max-width: 1199px) {
        padding: 50px;

        .top {
            margin-bottom: 35px;

            h1 {
                font-size: 40px;
            }

            p {
                font-size: 18px;
            }
        }

        .second {
            .box {
                .info {
                    padding: 20px;

                     .name {
                        font-size: 18px;
                        line-height: 26px;
                    }

                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }

}

/* ------ Latest-News End ------ */



/* ------ Testimonials Start ------ */
/* ------ Testimonials End ------ */