.modal {
    // background-color: rgba(255, 255, 255, 0.4);
    // backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);

    .modal-dialog {
        max-width: 600px;
    }

    .modal-content {
        padding: 35px 50px;
        background: var(--white);
        border-radius: 20px;

        .modal-body {
            padding: 0;

            .close_modal {
                background: none;
                border: 0;
                width: 45px;
                height: 45px;
                position: absolute;
                top: -12px;
                right: -22px;
            }

            .modal-title {
                font-family: var(--dm-sans);
                font-weight: 700;
                font-size: 50px;
                color: var(--blue);
                text-align: center;
            }

            p {
                font-family: var(--dm-sans);
                font-weight: 500;
                font-size: 22px;
                line-height: 28px;
                color: #696969;
                text-align: center;
                margin-block: 5px 25px;
            }

            .select_profile {
                display: flex;
                justify-content: center;
                gap: 30px;

                .profile_btn {
                    background-color: #0402731A;
                    border-radius: 20px;
                    padding: 30px 50px;

                    // width: 70%;
                    border: 1px solid var(--white);

                    .profile_img {
                        max-width: 100%;
                        margin-bottom: 10px;

                        img {
                            width: 120px;
                            height: 120px;
                        }
                    }

                    span {
                        font-family: var(--dm-sans);
                        font-weight: 700;
                        font-size: 34px;
                        color: var(--blue);
                    }
                }
            }
        }
    }
}